/*=====FONTS=====*/
@font-face {
  font-family: "CormorantGaramond400";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: "Roboto400";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/*=====GLOBAL=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
/*=====Wrapper=====*/
.wrapper {
  max-width: 1440px;
  /*margin: 0 auto;*/
  background-color: #ffffff;
}
/*=====Header=====*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-mod {
  padding: 35px 110px 20px 115px;
}
.menu__button {
  color: #b08ead;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.menu__button-indent {
  margin-right: 35px;
}

@media (max-width: 990px) {
  .header {
    flex-direction: column;
  }
  .menu__button-indent {
    margin-right: 10px;
  }
}

@media (max-width: 670px) {
  nav {
    text-align: center;
  }
  .menu__button {
    display: block;
  }
  .menu__button-indent {
    margin-right: 0;
  }
}

/*=====block__representation_main=====*/
.block__representation_main {
  position: relative;
}
.block__representation {
  padding: 70px 50px;
  background-color: #c9adc6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.beautiful_line {
  background-color: #d6bbd3;
  width: 100%;
  height: 360px;
  position: absolute;
  bottom: 0;
}
.square {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
.square-mod-one {
  background-color: #a78ba4;
  right: 160px;
}
.square-mod-two {
  background-color: #b08ead;
  right: 110px;
}
.block__representation img {
  position: relative;
  left: 130px;
  z-index: 2;
}
.representation__card {
  background-color: #b08ead;
  width: 425px;
  padding: 125px 40px;
}
.representation__card-mod_main {
  position: relative;
  right: 60px;
  z-index: 3;
}
.card__text {
  width: 280px;
}
.representation__card p {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.representation__card h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.2px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.card_text_p-mod {
  margin-bottom: 10px;
}
.card_text_h-mod {
  margin-bottom: 20px;
}
.card_line {
  background-color: #ffffff;
  height: 2px;
  width: 25%;
}

@media (max-width: 1315px) {
  .block__representation {
    flex-direction: column;
  }
  .block__representation img {
    left: 0;
  }
  .representation__card-mod_main {
    right: 0;
    bottom: 80px;
  }
  .square {
    visibility: hidden;
  }
}

@media (max-width: 920px) {
  .block__representation img {
    width: 90%;
  }
}

@media (max-width: 680px) {
  .representation__card {
    max-width: 425px;
  }
  .card__text {
    max-width: 280px;
  }
}

@media (max-width: 480px) {
  .representation__card {
    max-width: 250px;
    padding: 125px 0;
  }
  .card__text {
    margin-left: 20px;
    max-width: 210px;
  }
}

/*=====block_with_cards=====*/
.block_with_cards {
  padding: 75px 0 50px 0;
  text-align: center;
}
.block_with_cards h3 {
  max-width: 200px;
  margin-bottom: 15px;
  color: #b99bb6;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.block_with_cards p {
  max-width: 750px;
  margin-bottom: 25px;
  color: #5f4d5d;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.2px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.block_with_cards-text-mod {
  margin: 0 auto;
}
.block_with_cards a {
  max-width: 140px;
  padding: 15px 30px;
  margin-bottom: 50px;
  border: 1px solid #b99bb6;
  box-sizing: border-box;
  border-radius: 25px;
  color: #b99bb6;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.block_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 65px 131px 0 131px;
}
.card {
  background-color: #ceb3cb;
  width: 368px;
  text-align: left;
  margin-bottom: 25px;
}
.text_in_card {
  padding: 25px;
}
.text_in_card h2 {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.text_in_card p {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}

@media (max-width: 1380px) {
  .block_cards {
    justify-content: space-around;
  }
}

@media (max-width: 410px) {
  .card img {
    width: 280px;
  }
}
/*=====representation__slide=====*/
.representation__slide_F {
  /*padding-top: 1745px;*/
}
.block_representation__slide img {
  position: relative;
  z-index: 3;
}
.mod-shift_F {
  right: 100px;
}
.mod-shift_S {
  left: 100px;
}
.block_representation__slide {
  padding: 75px 215px;
  background-color: #ceb3cb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.representation__card__slide {
  background-color: #b08ead;
  width: 440px;
  padding: 125px 0 120px 65px;
}
.representation__card__slide-mod {
  position: relative;
  z-index: 2;
}
.card__text__slide {
  width: 320px;
}
.representation__card__slide p {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.representation__card__slide h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 55px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.card_text_slide_p-mod {
  margin-bottom: 10px;
}
.card_text_slide_h-mod {
  margin-bottom: 20px;
}
.card_line {
  background-color: #ffffff;
  height: 2px;
}
.mod-under_line_b {
  border-bottom: 2px solid white;
  width: 105px;
}
.mod-under_line_s {
  border-bottom: 2px solid white;
  width: 75px;
}

@media (max-width: 1180px) {
  .block_representation__slide {
    flex-direction: column;
  }
  .mod-shift_F {
    right: 0;
  }
  .mod-shift_S {
    left: 0;
  }
  .block__representation img {
    left: 0;
  }
}
@media (max-width: 930px) {
  .block_representation__slide img {
    width: 90%;
  }
  .block_representation__slide {
    padding: 75px 20px;
  }
}
@media (max-width: 640px) {
  .representation__card__slide {
    max-width: 440px;
    padding: 125px 0 120px 20px;
  }
  .card__text__slide {
    max-width: 320px;
  }
}
@media (max-width: 480px) {
  .representation__card__slide {
    max-width: 250px;
  }
  .card__text__slide {
    max-width: 210px;
  }
}
/*=====description__image=====*/
.description__image {
  padding: 75px 112px;
}
.block__description__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block__only__description {
  padding-left: 60px;
}
.block__only__description h2 {
  margin-bottom: 15px;
  color: #b99bb6;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.block__only__description p {
  margin-bottom: 15px;
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.block__only__description a {
  padding: 15px 30px;
  border: 1px solid #b99bb6;
  box-sizing: border-box;
  border-radius: 25px;
  color: #b99bb6;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.mod-block_reverse {
  flex-direction: row-reverse;
}
.mod-center__img {
  padding-left: 30px;
}
.mod-center__text {
  padding: 0 95px 10px 0;
}
.mod-center__text h2,
.mod-center__text p {
  margin-bottom: 10px;
}
.mod-center__text :nth-child(4) {
  margin-bottom: 30px;
}
.width-mod_F {
  max-width: 485px;
}
.width-mod_S {
  max-width: 450px;
}
.width-mod_T {
  max-width: 460px;
}
hr {
  margin: 40px 0;
}

@media (max-width: 1400px) {
  .block__only__description {
    margin: 0 20px 0 20px;
  }
}
@media (max-width: 1100px) {
  .block__description__image {
    flex-direction: column;
  }
  .block__only__description {
    padding-left: 0;
  }
  .mod-center__text {
    padding: 0;
  }
  .mod-center__img {
    padding-left: 0;
  }
}
@media (max-width: 680px) {
  .description__image {
    padding: 75px 20px;
  }
  .block__description__image img {
    width: 90%;
  }
}
/*=====cost__images=====*/
.cost__images {
  padding: 75px 145px 80px 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.block__cost__images {
  text-align: center;
  margin-bottom: 55px;
}
.block__cost__images img {
  margin-bottom: 5px;
}
.namePillow {
  margin-bottom: 5px;
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.cost {
  color: #b0b0b0;
  font-size: 16px;
  line-height: 17px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}

@media (max-width: 1040px) {
  .cost__images {
    justify-content: space-evenly;
  }
}
@media (max-width: 480px) {
  .cost__images {
    padding: 75px 10px 80px 10px;
  }
  .block__cost__images img {
    width: 280px;
  }
}
/*=====information_abuot_firm_and_you=====*/
.information_abuot_firm_and_you {
  padding: 65px 215px 80px 230px;
  background-color: #ceb3cb;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.firm_information {
  padding-bottom: 55px;
}
.mod-margin-bottom,
.information_abuot_firm_and_you ul {
  margin-bottom: 20px;
}
.information_abuot_firm_and_you li h3 {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.information_abuot_firm_and_you li,
.information_abuot_firm_and_you li a {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.firm_information_title {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.form_user_information input,
.form_user_information textarea,
.form_user_information button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.form_user_information input::placeholder,
.form_user_information textarea::placeholder,
.form_user_information button {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.form_user_information input {
  width: 290px;
  margin: 0 25px 30px 0;
  padding: 15px 15px;
}
.form_user_information button {
  padding: 10px 15px;
  width: 210px;
}
.form_user_information textarea {
  padding: 10px 15px;
  margin: 0 0 25px 0;
}

@media (max-width: 1310px) {
  .information_abuot_firm_and_you ul {
    width: 290px;
  }
  .form_user_information textarea {
    width: 290px;
  }
  .user_information {
    margin-left: 20px;
  }
}

@media (max-width: 860px) {
  .information_abuot_firm_and_you {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .information_abuot_firm_and_you {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .information_abuot_firm_and_you {
    padding: 65px 20px 80px 20px;
  }
}

/*=====newsletter=====*/
.newsletter {
  text-align: center;
  padding: 95px 20px 95px 20px;
}
.newsletter h2 {
  color: #b99bb6;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.5px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.newsletter p {
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.newsletter form {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newsletter input {
  width: 210px;
  padding: 20px 100px 20px 15px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #b99bb6;
  border-radius: 3px 0px 0px 3px;
}
.newsletter button {
  width: 180px;
  box-sizing: border-box;
  border: 1px solid rgba(1, 1, 1, 0);
  background: #ceb3cb;
  border-radius: 0px 3px 3px 0px;
}
.newsletter input::placeholder,
.newsletter button {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.newsletter input::placeholder {
  color: #ceb3cb;
}

@media (max-width: 620px) {
  .newsletter form {
    flex-direction: column;
    align-items: center;
  }
}

/*=====footer_with_images=====*/
.footer_with_images {
  background-color: #d6bbd3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 305px 15px 290px;
}
.block_in_footer_img_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block_in_footer_img_text div {
  width: 95px;
  height: 95px;
  background-color: #ba9fb7;
  border-radius: 111px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.block_in_footer_img_text h2 {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.block_in_footer_img_text p {
  color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}

@media (max-width: 1130px) {
  .footer_with_images {
    flex-direction: column;
    padding: 45px 20px 15px 20px;
  }
}

/*=====footer=====*/
.footer {
  position: relative;
  background-color: #c9adc6;
  padding: 35px 0px 10px 115px;
}
.top_footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
.top_footer img {
  margin-right: 65px;
}
.top_footer h2 {
  margin-right: 35px;
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  font-family: "CormorantGaramond400", sans-serif;
  font-weight: 400;
}
.bottom_footer span {
  margin-right: 10px;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
}
.FaceBookFooter {
  background-color: #d6bbd3;
  position: absolute;
  bottom: 45px;
  right: 215px;
  padding: 0 5px;
}
.ArrowFooter {
  background-color: #ba9fb7;
  position: absolute;
  bottom: 0;
  right: 110px;
  padding: 5px 0;
}

@media (max-width: 950px) {
  .ArrowFooter,
  .FaceBookFooter {
    visibility: hidden;
  }
}

@media (max-width: 740px) {
  .footer {
    padding: 35px 0px 10px 0px;
  }
  .top_footer {
    flex-direction: column;
    justify-content: center;
    padding: 35px 20px 10px 20px;
  }
  .top_footer img,
  .top_footer h2 {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .bottom_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bottom_footer span {
    display: block;
  }
}
